page-about {
    background-color: rgb(59, 42, 58) !important;

}
.texto
{
    text-align: center;
    opacity: 50%;
    color: rgb(255, 255, 255) !important;
}
.fondo{
    background: url('https://image.freepik.com/vector-gratis/ingredientes-pizza-costuras_1176-269.jpg') !important;

}
.nofondo{
    background:rgba(255,255,255,0.2) !important;

}
.transparent{
    background:rgba(255,255,255,0) !important;

}